<%# タイムライン画面 %>
<section class="hero is-link is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        タイムライン
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @reviews.order(created_at: :desc).each do |review| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <%# 4by3 → 1by1 %>
              <figure class="image is-1by1">
                <%= link_to review_path(review) do %>
                  <%= attachment_image_tag review, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag review.user, :profile_image, fallback: "no-image.png" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to review.user.username, user_path(review.user) %></div>
                </div>
              </div>

                <div class="content">
                  <div class="title is-4">『<%= review.title %>』</div>
                  <% if user_signed_in? %>
                    <% if current_user.already_favorited?(review) %>
                      <%= link_to review_favorites_path(review), method: :delete do %>
                        <i class="fas fa-heart">いいね！</i>
                      <% end %>
                    <% else %>
                      <%= link_to review_favorites_path(review), method: :post do %>
                        <i class="far fa-heart">いいね！</i>
                      <% end %>
                    <% end %>
                    <%= review.favorites.count %>件
                  <% else %>
                    <i class="far fa-heart">いいね！</i>
                    <%= review.favorites.count %>件
                  <% end %>
                  <div class="level-right">  
                    <%# 日本時間で表示 %>
                    <time><%= review.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
                  </div>

                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>